body {
    left: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#logo {
    height: 150px;
    width: auto;
    max-width: 100%;
}

.navbar {
    margin-top: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Align items to the start (left) */
    justify-content: flex-start;

}

li {
    margin: 70px 15px;
    padding: 0px 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(12, 187, 246);
    transition: color 0.3s ease;
}

a:hover {
    color: orange;
}

.container {
    padding: 10px;
    margin: 0 auto;
    /* Center the container */
    max-width: 800px;
    /* Adjust as needed */
}

.about-us, .our-mission, .rehabilitation {
    background-color: blanchedalmond;
    padding: 20px;
    margin-bottom: 10px;
    /* Add space between sections */
    font-size: 1.5rem;
}

.conclusion {
    background-color: blanchedalmond;
    padding: 10px;
    margin-top: 10px;
    /* Add space above the conclusion */
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    ul {
        flex-direction: column;
        align-items: flex-start;
    }

    li {
        margin: 10px 0;
    }

    /* .menu-toggle {
        display: block;
    } */

    .container {
        padding: 500px 20px 0px 20px;
    }

    .about-us,
    .our-mission,
    .rehabilitation {
        font-size: 1.2rem;
    }

    .conclusion {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding-top: 250px;
        max-width: 1500px;
    }
}

